.ol-map {  
    min-height: 500px;  
    height: 500px;  
    width: 100%;
}

.ol-control {  
    position: absolute;  
    border-radius: 4px;  
    padding: 2px;
}

.ol-full-screen {  
    top: .5em;  
    right: .5em;
}

.ol-zoom {  
    top: .5em;  
    right: .5em;
}

.ol-zoom-in{
    margin-right: 5px;
}

.ol-zoom-in, .ol-zoom-out{
    border-radius: 15px;
    width: 30px;
    height: 30px;
}